Buongiorno,
% if su_chiamata:
a seguito dell'assistenza su chiamata effettuata il ${data_intervento}
% else:
a seguito dell'intervento effettuato il ${data_intervento} presso ${luogo_intervento_tmpl}
% endif
le inoltro il rapporto d'intervento.

La invitiamo ad inviare via fax al numero 010.9980021 o via email a
tech@diciannove.coop la seconda pagina del rapporto stesso

Per qualunque problema la invitiamo a contattarci al numero 010.9980020
o via email all'indirizzo info@diciannove.coop

Ringraziando per l'attenzione le auguro buon lavoro

Per la Cooperativa Diciannove
Rocco De Patto

